.navbar.bg-top-navigation {
  .dropdown-menu {
    &.search {
      min-width: 25rem;
      a { color: gray; }

      .results {
        .dropdown-header {
          text-transform: capitalize;
        }
      }
    }
  }
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-bottom: 0;
  input.form-control {
    padding-left: 26px;
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    &::-webkit-input-placeholder {
      display: none;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      display: none;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      display: none;
    }
    &:-ms-input-placeholder {
      display: none;
    }
  }
  &:hover, &.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
  }
  span.fa-search {
    position: relative;
    top: -38px;
    right: 2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: blue;
    left: initial;
    font-size: 14px;
  }
}
